django
django-environ
djangorestframework
django-cors-headers
django-seed
pymysql
djangorestframework-simplejwt
pillow
bcrypt
environ
mastercard-oauth1-signer
requests
dict_hash
numpy
mercadopago
gunicorn
django-apscheduler
filestack-python